*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
body{
  background-color: rgb(255, 243, 243);
}

.navbar{
    background-color: #0f1111;
    height: 60px;
    color: white;
    display: flex;
}
 .nav-logo{
    height : 60px;
    width: 110px;
    padding: 4px 2px 0px 1px;
    
    
 }
 .logo{
   display: flex;
   position: static;
   background-image: url("download_2-removebg-preview.png");
   background-size: cover;
   height: 50px;
   width: 100%;
   margin: 2px, 2px, 0px , 2px ;
   
 }
 .border{
    border: 1px solid transparent;
 }

 .border:hover {
    border: 1px solid white;
    border-radius: 3px;
 }

 .nav-location {
   display: flex;
   position: static;
   float: none;
   height: 60px;
   width: 211px;
   border: 2px solid transparent;

 }
 .location{
   height: 50px;
   width: 207px;
   margin-top: 3px;
    
    padding: 0 13px 0 13px;
 }
 
 .Delivering{
   height: 14px;
   width: 173px;
   font-size: 12px;
   position: relative;
   left: 24px;
   top:9px;
 }
 .update{
   width: 173px; 
   font-size: 16px;
   font-weight: bold;
   position:relative;
   top: 9px;
 }

 .nav-search{
  height: 60px;
  width: 600px;
  display: flex;
  margin-left:20px ;
 }

 .nav-search-box{
  height: 55px;
  width: 550px;
  display: flex;
  padding: 7px 25px 7px 25px;
 }
 .option-box #option-box{
  font-size: 20px;
height: 45px;
width: 50px;
border-radius: 4px;
background-color: rgb(211, 211, 211);
 }

 .search-box input{
  font-size: 20px;
  height: 40px;
  width: 100%;
  border-radius: 4px;
 }

 .submit-button .submit{
  height: 45px;
  width: 50px;
  border-radius: 4px;
  background-color: rgb(252, 196, 92);
   
 }
 .submit i{
  font-size: 20px;
 }
 .nav-account{
  height: 60px;
  width: 390px;
  display: flex;
  align-items: center;
  position: relative;
  left: 25px;
  
 }

 .account{
  height: 50px;
  width: 110px;
  margin-top: px;
  padding-left: 5px;
  margin-right: 10px;
 }

 .Text1{
  font-size: 12px;
 }

 .text2{
  font-size: 15px;
  font-weight: bold;
 }
.Text1{
  position: relative;
  top: 5px;
  left: 4px;
}
 .text2{
  position: relative;
  top: 5px;
  left: 4px;
 }

 .return{
  height: 50px;
  width: 70px;
  margin-left:10px;
  padding-right: 10px;
 }

 .cart{
  height: 50px;
  width: 100px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
 }
 .cart-icon{
  width: 50px;
  height: 50px;
  align-content: center;
  margin-left: 7px;
  
 }

.cart-icon i{
  font-size: 30px;
  margin-left:6px ;
  margin-right: 6px;
}

.cart-text{
  margin-top:5px;
  font-size: 20px;
}

.sub-nav{
  color: white;
  height: 39px;
  background-color: #2d343b;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

.sub-div{
  display: flex;
  height: 39px;
  align-items: center;
  width: auto;
  
}

.nav-a{
  padding-left: 10px;
  padding-right: 10px;
}
.sub-div:hover{
  border: 1.5px solid white;
  border-radius: 3px;
}
.body{
  
  height: auto;
}

.hero-img{
  height: 500px;
  width: 100%;
}

.content{
  height: 500px;
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  bottom: 250px;
}

.content-box{
  height: 430px;
  width: 310px;
  background-color: white;
  margin-right: 10px;
  margin-left: 10px;
}

.box1 {
  height: 160px;
  width: 140px;
  margin: 10px;
}

.box1 img{
  width: 140px;
}

.box2 {
  height: 160px;
  width: 140px;
  margin: 10px;

}
.box2 img{
  width: 140px;
}

.box3{
   height: 160px;
  width: 140px;
  margin: 10px;
  
}

.box3 img{
  width: 140px;
}

.box4{
   height: 160px;
  width: 140px;
  margin: 10px;
}
.box4 img{
  width: 140px;
}

.content-heding{
  height: 17%;
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.content-img{
  height: 320px;
}

a{
  text-decoration: none;
  color: rgb(116, 116, 247);
  
}

.bottom{
  height: 200px;
  background-color: #131A22;
  align-content: center;
}
.go-back{
  height: 60px;
  color: white;
  background-color: black;
  align-content: center;
  text-align: center;
}

.copyright{
  align-content: center;
  color: white;
  text-align: center;

}

.copyright-line-1 span{
 padding-left: 10px; 
 padding-right: 10px;
}

.copyright-line-2{
  margin-top: 10px;
}

.up-image {
  width: 100%;
  height: 50%;
  display: flex;

}
.down-image{
  width: 100%;
  display: flex;
  height: 50%;
}

@media screen and (max-width:1440px) {

  .nav-search{
    margin: 0;
  }
  
  .search-box input{
    width: 98%;
  }
  .content-box{
    margin:0 1.8% 0 1.8%;
  }
  .nav-search{
    width: 40%;
  }
  .nav-search-box{
    width: 100%;
  }
  .logo {
    width:120px ;
  }
  .nav-account{
    position: relative;
    left: 0px;
  }
   
.search-box{
  width: 84%;
}
.nav-logo{
 width: 10%;
}
.nav-location{
  width: 20%;
}

.box1 img{
  width: 100%;
}
.box2 img{
  width: 100%;
  
}
.box3 img{
  width: 100%;
}
.box4 img{
  width: 100%;
}
.box1{
  height: 42%;
  width: 42%;
  margin: 0px;
  margin: 4%;
}
.box2{
  height: 42%;
  width: 42%;
  margin: 4%;

}
.box3{
  height: 42%;
  width: 42%;
    margin: 4%;
    bottom: 128px;

}
.box4{
  height: 42%;
  width: 42%;
    margin: 4%;
    left: 111px;
    bottom: 272px;

}
.content-img{
  height: 74%;
}
.content-heding
  height: 17%;
}

@media screen and (max-width:1024px){

.nav-search{
  position: relative;

}
  .nav-search-box{
    width: 400px;
    padding: 0;
    align-items: center;
    position: relative;
  }

.location{
  width: 174;
  padding: 0 8px 0 0px;
}
  .cart{
    margin: 0px;
  }
  .nav-account{
    width:auto
  }
  .cart-icon i{
    font-size: 25px;
    
  }
  .cart-icon{
    margin: 0px;
    text-align: right;
  }
.cart-text{
  font-size: 20px;
}
.cart{
  width: 90px;
}
.text2{
  font-size: 14px;
}
.Text1{
  font-size: 11px;
}
.return{
  width: 60px;
}
.logo{
  width: 90px;
}
.Delivering{
  
  font-size: 11px;
}
.update{
  font-size: 14px;
}
.update i{
  font-size: 18px;
}
.box1 img{
  width: 100%;
}
.box2 img{
  width: 100%;
  
}
.box3 img{
  width: 100%;
}
.box4 img{
  width: 100%;
}

.content-text{
  font-size: 14px;
}
.content-heding{
  font-size: 14px;
  height: 17%;
}
.content-img{
  height: 74%;
}

}

@media  screen and (max-width: 1000px) {
  
  .account{
    width: 100px;
    padding-left: 0;
    margin-right: 4px;
    margin-left: 4px;
  }
  
  .text2{
    left: 2px;
  }
  .Text1{
    left: 2px;
  }
  .return{
    margin-left: 4px;
    padding: 0;
    margin-right: 4px;
  }
  .cart-text {
    font-size: 15px;
    font-weight: bold;
    }
    .cart{
      width: 74px;
      margin-left: 4px;
      margin-right: 4px;
    }
    .cart-icon{
      text-align: center;
      width: 42px;
    }
    .content-heding{
      font-size: 11px
    }
    .nav-a{
      font-size: 14px;
    }

}

@media  screen and (max-width:900px) {
  .cart{
    display: inline;
    width: 47px;
  }

  .cart-icon{
    height: 32px;
    width: 100%;
  }
  .cart-text{
    margin: 0;
    text-align: center;
    position: relative;
    bottom: 4px;
  }
  .cart-icon i{
    font-size: 20px;
  }
}